@font-face {
    font-family: SST_light;
    src: url("../../Source/all/SST_light/SST-Light.ttf");
}

@font-face {
    font-family: SST_UL;
    src: url("../../Source/all/SST_UL/SST-UltraLight.ttf");
}

@font-face {
    font-family: BebasNeue;
    src: url("../../Source/all/BebasNeue/bebasneuelight.ttf");
}

@font-face {
    font-family: aktiv-grotesk_m;
    src: url("../../Source/all/aktiv-grotesk/AktivGroteskCorp-Medium.ttf");
}

@font-face {
    font-family: aktiv-grotesk_l;
    src: url("../../Source/all/aktiv-grotesk/AktivGroteskCorp-Regular.ttf");
}

@font-face {
    font-family: aktiv-grotesk_b;
    src: url("../../Source/all/aktiv-grotesk/AktivGroteskCorp-Bold.ttf");
}

.head {
    text-align: center;
    position: relative;
    left: 4vw;
}

.a_tegs_url {
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-family: aktiv-grotesk_m;
    font-size: 1.5vw;
    position: relative;
    top: -5vw;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.a_tegs_url:hover {
    background-size: 100% 2px;
}

.a_attraction_url {
    position: relative;
    left: 4vw;
}

.img_logo_head {
    width: 12vw;
    position: relative;
    left: 2vw;
}

hr {
    position: relative;
    top: -1vw;
}



.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "main_history main_attraction";
}

.main_history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "main_history_img2 main_history_img1"
      "main_history_img3 main_history_text"
      ". main_history_text";
    grid-area: main_history;
    height: 25vw;
    width: 41vw;
}

.main_history_img1 {
    grid-area: main_history_img1;
}

.main_history_img2 {
    grid-area: main_history_img2;
}

.main_history_img3 {
    grid-area: main_history_img3;
}

.main_history_text {
    grid-area: main_history_text;
    font-family: aktiv-grotesk_m;
    font-size: 1.8vw;
}

.main_attraction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "main_attraction_img1 main_attraction_img2"
      "main_attraction_text main_attraction_img3"
      "main_attraction_text .";
    grid-area: main_attraction;
    height: 25vw;
    width: 41vw;
    position: relative;
    left: 7.9vw;
}

.main_attraction_text {
    grid-area: main_attraction_text;
    font-family: aktiv-grotesk_m;
    font-size: 1.8vw;
}

.main_attraction_img1 {
    grid-area: main_attraction_img1;
}

.main_attraction_img2 {
    grid-area: main_attraction_img2;
}

.main_attraction_img3 {
    grid-area: main_attraction_img3;
}

.main_history_image {
    width: 20vw;
}

.a_historu_url_main {
    color: rgb(11, 15, 10);
    position: relative;
    top: 1vw;
    font-size: 1.717vw;
    background-color: rgb(237, 255, 225);
    border: 1px solid rgb(124, 255, 112);
    border-radius: 2vw;
}

.a_attraction_url_main {
    width: 100vw;
    position: relative;
    left: -0.1vw;
    top: 1vw;
    color: rgb(11, 15, 10);
    font-size: 1.5vw;
    background-color: rgb(237, 255, 225);
    border: 1px solid rgb(124, 255, 112);
    border-radius: 2vw;
}